body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banniere img{
    width: 16em;
    margin-left: 7em;
}

header ul{
    display: flex;
    justify-content: space-between;
    margin-right: 7em;
    margin-top: 0;
}

header ul li{
    list-style: none;
    padding: 5em;
    margin-top: 0;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

a:hover{
    border-bottom: burlywood solid 3px;
    color: burlywood;
    font-weight: bold;
}

.title{ /* h1 de la page Accueil */
    display: flex;
    justify-content: center;
    color: burlywood;
    font-size: 1.5em;
    margin-top: 3em;
    text-decoration: underline;
}

.details-product{ /* on se réfère au nom, au prix et à la photo */
    margin: 0;
    display: flex;
    justify-content: center;
    width: 350px;
}

.camera-name{ /* conteneur où apparaît le nom de la caméra et le prix */
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 0.7em;
    background-color: burlywood;
}

p{
    margin: 0;
}

.camera-product{ /* conteneur des cameras de la Page Accueil */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin: 4em 7em 0 7em;
    padding: 0.5em;
    border: solid burlywood 2px;
}

#cameras{ /* conteneur de toutes les cameras de la Page Accueil */
    margin: 0;
}

/* Page Produit */

#PageProduit{ /*conteneur principal de la fiche produit */
    margin: 1.5em 7em 0 7em;
    background-color: burlywood;
    border-radius: 20px;
    opacity: 0;
    animation: opacity 2s 1s;
    animation-fill-mode: both;
}

@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.container{
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.camera-photo img{
    width: 430px;
    border: solid white 4px;
    padding: 0.5em;
}

.info-camera{ /* conteneur description camera + button ajouter au panier */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3em 0 0 2em;
    padding: 0.4em;
}

.description{ /* contener prix/description/nom */
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description p{
    font-size: 1.2em;
}

form{
    margin-top: 3em;
}

select {
    padding: 0.6em;
    border: solid burlywood 2px;
}

#btn{ /* bouton Ajouter au panier de la page Produit */
    margin-top: 3em;
    padding: 0.6em;
    border: solid white 2px;
    border-radius: 25px;
    background-color: burlywood;
    color: white;
    font-size: 1.2em;
}

#panier{
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    margin: 4em 2.5em 0 2.5em;
    border: solid blue 2px;
}

.contenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2em 0;
}

#delete{
    border: solid burlywood 3px;
    border-radius: 2em;
    padding: 1em;
    background-color: white;
}

.contenu div{
    margin-right: 15em;
}

.contenu img{
    width: 180px;
    border: solid burlywood 5px;
}


.panier-vide{
    font-size: 1.5em;
    font-weight: bold;
    color: burlywood;
    text-align: center;
}

.prix-total{
    text-align: center;
}

#formulaire-commande{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin-bottom: 0.5em;
    font-weight: bold;
    border-bottom: solid 2px black;
    font-size: 1.1em;
}

input, textarea{
    margin-bottom: 2em;
    border: none;
    outline: none;
    padding: 0.4em;
    background-color: burlywood;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    width: 350px;
}

.envoyer-commande{
    background-color: burlywood;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
    border-radius: 2em;
    padding: 1.2em;
    width: 250px;
}

.panier-name{
    width: 150px;
}